:root {
    /* Huisstijl */
    --global-color-alpha: #FFFFFF;
    --global-color-alpha-: #E9E9E9;
    --global-color-alpha--: #949494;
    --global-color-alpha---: #575757;
    --global-color-alpha----: #010001;
    --global-color-beta: #ff0000;

    --global-progress-show: 80%;
    --global-progress-duration: 5s;
    --global-slides-amount: 3;

    --global-section-shadow: 0px 3px 8px -2px rgba(133, 77, 77, 0.2);

    --global-background-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,0,0,0.1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--global-color-alpha);
    background: var(--global-background-gradient);
    color: var(--global-color-alpha--);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

}

/* Container & section positions */
.container {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95% 5%;
}

.slider {
    z-index: 2;
    grid-row: 1 / 2;

    padding: 20px 20px 0 20px;
    overflow: hidden;
    min-width: 0;

    display: flex;
    flex-wrap: nowrap;
	flex-direction: row;
}

.slider-transition {
    transition: transform 0.7s ease-in-out;
}

.slide {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    
    display: grid;
    display: -ms-grid;
    grid-template-columns:  1% 2fr 2fr 1fr 1%;
    
    grid-template-rows: 1% 1fr 1fr 1%;
    grid-gap: 10px;
    overflow: hidden;
}

.grid-top {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

}
.grid-bottom {
    grid-column: 2 /4;
    grid-row: 3 / 4;
}
.grid-left {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}
.grid-right {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.grid-top-left {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.grid-top-right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.grid-bottom-left {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.grid-bottom-right {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.grid-vertical {
    grid-column: 4 / 5;
    grid-row: 2 / 4
}
/* Visibility */
.invisible {
    display: none;
    visibility: hidden;
}


/* Sections */
section {
    padding: 4px;
    border-radius: 4px;
    background-color: var(--global-color-alpha);
    box-shadow: var(--global-section-shadow);

    min-height: 100% !important;

    overflow: hidden;
}

/* Vertical section */
/* Images */
/* Progress bar */
.progress-container {
    grid-row: 2 / 3;
    display: flex;
    padding: 0 30px;
}
.progress {
    width: calc(100% / var(--global-slides-amount));     /* Change depending on slides */
    height: 50%;
    margin: 0 1.25%;
    position: relative;
}
.progress-base {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;

    background-color: var(--global-color-alpha-);
    border-radius: 20px;
}
.progress-done {
    position: absolute;
    width: 0%;
    height: 50%;
    top: 25%;

    background-color: var(--global-color-beta);
    border-radius: 20px;
}
.progress-done-animation {
    animation-duration: var(--global-progress-duration);
    animation-fill-mode: forwards;
    animation-name: progress-done-fill;
    animation-timing-function: linear;
}
.progress-show {
    position: absolute;
    right: calc(100% - var(--global-progress-show));
    height: 0%;
    width: 4px;

    background-color: var(--global-color-alpha----);
    border-radius: 20px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: progress-show;
    animation-timing-function: linear;
}
@keyframes progress-done-fill {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes progress-show {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}